body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #ffff89, #ffffff);
}

.container {
  background-color: #ffad27;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

h2 {
  color: black;
  text-transform: uppercase;
}

label{
  display: block;
  margin: 10px 0 5px;
  color: black;
}

input {
  width: calc(100%-22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus{
  outline: none;
  border-color: #e88500;
  box-shadow: 0 0 10px #e88500;
}

.btn {
  padding: 10px 20px;
  background-color: #e88500;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #ffcc99;
  color: black;
}

p a {
  font-style: italic;
}